*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#load{  
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* display: none; */
}
#yellow1{
    width: 100%;
    height: 100%;
    background: rgb(255, 240, 25);
    position: absolute;
    z-index: 8;
}
#yellow2{
    width: 100%;
    height: 100%;
    background: rgb(255, 240, 25);
    position: absolute;
    z-index: 7;
}
#load > h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:  5vw;
    z-index: 9;
}
#load > video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}
nav{
    position: absolute;
    width: 100%;
    padding: 20px 40px;
    color: white ;
    /* background-color: red; */
}
nav  svg path{
    fill: black;
}
.page1{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 240, 25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1 > h1{
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:  5vw
}
.page2{
    background-color: rgba(0, 0, 0, 0.562);
    background-position: center;
    object-fit: center;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center ;
}

.elem{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.elem h2{
    font-size: 7vw;
    line-height: 5vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;

}
.elem .moving {
    background: yellow;
    width: 100%;
    white-space: nowrap;
    padding: 7px 0;
    position: absolute;
    top: 50%;
    transform: translate( 0 , -50%) scaleY(0);
    transition: all 0.5 ease-in-out;
    /* opacity: 0; */

}
.elem .moving  .moving-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: moving ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.elem .moving  .moving-in h5{
   color: black;
   display: inline-block;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-transform: uppercase;
   margin-right: 20px;

}
.elem:hover .moving{
    transform: translate( 0 , -50%) scaleY(1);
}
.elem:hover .moving h5{
  opacity: 1;
}
.elem:hover h2{
    font-style: italic;
}
@keyframes moving {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
    
}













.page3{
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 100vh;
}